[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=VNC server
Type=Application
Terminal=false
Name[es_ES]=VNC server
Exec=lxterminal --command "sudo /usr/bin/vino-preferences"
Icon=network-server
Comment[es_ES]=vino-preferences
Comment=vino-preferences
GenericName[en_US]=VNC server
Categories=GNOME;GTK;Network;RemoteAccess;