[Desktop Entry]
Name=OpenERP Client
Comment=OpenERP GTK Client
Exec=openerp-client
Terminal=false
Type=Application
Icon=/usr/local/openerp/pixmaps/openerp.xpm
Categories=GNOME;Application;Database;System;